<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ dictionary.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple Web Dictionary">
    <meta name="author" content="Janos Gyerik info@janosgyerik.com">

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/webdict.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Simple Web Dictionary</a>
            <ul class="nav">
                <li class="">
                    <a href="/source">Source</a>
                </li>
                <li class="">
                    <a href="/docs">API docs</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Dictionaries
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% for dict_id, dictionary in dictionaries %}
                            {% if dictionary.is_public %}
                                <li><a href="{{ dict_id }}">{{ dictionary.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="active">
                    <a href="/{{ dict_id }}">{{ dictionary.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="main-content">
        <div class="row-fluid">
            <form class="form-search">
                <input type="text" class="input-xlarge search-query" placeholder="a word to look up...">
                <button class="btn btn-primary search">Search</button>
                <button class="btn reset">Clear</button>
            </form>
        </div>
        <!--/row-->
        <div class="row-fluid">
            <div class="results-wrapper span9">
                <div class="row-fluid">
                    <div class="loading loading-hidden span9 well">
                        Loading...
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="no-matches no-matches-hidden span9 alert alert-block">
                        Found no matches.
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="api-error api-error-hidden span9 alert alert-block alert-error">
                        <h4>API Error</h4>
                        Something's wrong, somewhere. The following API call failed:
                        <ul>
                            <li>URL: <a></a></li>
                            <li>HTTP status: <span class="statusNum"></span> (<span class="statusText"></span>)</li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="results span9">
                    </div>
                </div>
            </div>
            <div class="sidebar span3">
                <table id="similar" class="table table-hover table-condensed table-striped hidden">
                    <thead><tr><th>Similar <i class="pull-right icon-remove-circle dismiss"></i></th></tr></thead>
                    <tbody class="similar-list">
                    </tbody>
                </table>
                <table id="recent" class="table table-hover table-condensed table-striped hidden">
                    <thead><tr><th>Recent</th></tr></thead>
                    <tbody class="recent-list">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if dictionary.license %}
    <hr/>

    <footer>
        <div class="license">{{ dictionary.license|urlize }}</div>
    </footer>
    {% endif %}
</div>
<!--/.fluid-container-->

<script type="text/template" id="entry-template">
    <td><a href="#entries/<%= entry_id %>"><%= name %></a></td>
</script>

<script type="text/javascript">
    // the dictionary to use
    DICT_ID = '{{ dict_id }}';
</script>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery-1.8.0.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/backbone-min.js"></script>
<script src="/static/js/backbone-localstorage.js"></script>
<script src="/static/js/webdict.backbone.js"></script>

</body>
</html>
