<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>API docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple Web Dictionary">
    <meta name="author" content="Janos Gyerik info@janosgyerik.com">

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/webdict.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Simple Web Dictionary</a>
            <ul class="nav">
                <li class="">
                    <a href="/source">Source</a>
                </li>
                <li class="active">
                    <a href="/docs">API docs</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="main-content">
        <div class="page-header">
            <h1>API docs</h1>
        </div>
        <div class="row-fluid">
            <form class="form" id="find-by-keyword">
                <fieldset>
                    <legend>Find by keyword</legend>

                    <select name="dictionary">
                        {% for dict_id, dictionary in dictionaries %}
                            {% if dictionary.is_public %}
                                <option value="{{ dict_id }}">{{ dictionary.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <div class="input-append">
                        <input type="text" class="input-xlarge keyword" placeholder="a word to look up...">
                        <button type="submit" class="btn btn-primary run">Run</button>
                    </div>

                    <div class="control-group">
                        <label class="radio inline">
                            <input type="radio" name="method" class="method" id="find-exact" value="exact" checked> Exact
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="method" class="method" id="find-by-prefix" value="prefix"> Prefix
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="method" class="method" id="find-by-suffix" value="suffix"> Suffix
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="method" class="method" id="find-by-partial" value="partial"> Partial
                        </label>
                    </div>

                    <div class="control-group">
                        <label class="checkbox inline">
                            <input type="checkbox" id="find-similar" value="similar" checked> Find similar
                        </label>
                    </div>

                    <span class="input-block-level uneditable-input api-curl"></span>

                    <pre class="well api-output"></pre>
                </fieldset>
            </form>
        </div>
        <!--/row-->
        <div class="row-fluid">
            <div class="results-wrapper span9">
                <div class="row-fluid">
                    <div class="loading loading-hidden span9 well">
                        Loading...
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="no-matches no-matches-hidden span9 alert alert-block">
                        Found no matches.
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="api-error api-error-hidden span9 alert alert-block alert-error">
                        <h4>API Error</h4>
                        Something's wrong, somewhere. The following API call failed:
                        <ul>
                            <li>URL: <a></a></li>
                            <li>HTTP status: <span class="statusNum"></span> (<span class="statusText"></span>)</li>
                        </ul>
                        <p></p>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="results span9">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--/.fluid-container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery-1.8.0.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/backbone-min.js"></script>
<script src="/static/js/backbone-localstorage.js"></script>
<script src="/static/js/webdict-docs.backbone.js"></script>

</body>
</html>
